<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >

<listeners>

<listener class-name="Utility.ExtentReportListener"/>
</listeners>


  
 
  <test name="Regression1">
    <classes>
         <class name="Testcases.date_select"/>
         <class name="Testcases.Lab_referral"/>
         <class name="Testcases.LoginTest"/>
         <class name="Testcases.Set_Calenders"/>
   </classes>
  </test>
</suite>
